.events {
  margin: 0;
  padding: 0;
  list-style: none;
  // min-height: 20px;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar-header .ant-picker-calendar-mode-switch {
  margin-right: 10px;
}

.App {
  font-family: "DBOzoneX";
  padding: 10;
}

.cell {
  color: #ed473a;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  padding: 0 4px;
  line-height: 1.8;
}

.cell:hover {
  background-color: #efefef;
}

.ant-picker-cell:hover .ant-picker-calendar-date {
  background-color: white;
}

.ant-layout-content {
  padding: 10px;
}
.ant-modal-body {
  font-size: 24px;
}

.ant-btn {
  font-size: 22px;
}

.ant-modal-footer {
  padding: 10px 10px;
  text-align: right;

  // border-radius: 0 0 2px 2px;
}

// .anticon svg {
//   margin-right: 10px;
//   margin-left: 12px;
//   margin-top: -8px;
//   justify-content: center;
//   align-items: center;
//   height: 17.45px;
//   width: 19.66px;
// }

span.anticon.anticon-field-time {
  margin-right: 10px;
  margin-left: 12px;
  margin-top: -8px;
  justify-content: center;
  align-items: center;
  height: 17.45px;
  width: 19.66px;
  font-size: 19px;
  vertical-align: middle;
}
