body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'DBOzoneBold';
  src: local('DBOzone'), url(./assets/fonts/DBOzoneXBold.ttf) format('opentype');
}

@font-face {
  font-family: 'DBOzoneXMed';
  src: local('DBOzone'), url(./assets/fonts/DBOzoneXMed.ttf) format('opentype');
}

@font-face {
  font-family: 'DBOzoneXLi';
  src: local('DBOzone'), url(./assets/fonts/DBOzoneXLi.ttf) format('opentype');
}

@font-face {
  font-family: 'DBOzoneX';
  src: local('DBOzone'), url(./assets/fonts/DBOzoneX.ttf) format('opentype');
}

